<h3>Register for Events</h3>
<p class="text-center" ng-if="loading"><span class="glyphicon glyphicon-refresh gly-spin"></span> Loading Events...</p>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Date</td>
      <td>Start</td>
      <td>End</td>
      <td>Name</td>
      <td>Location</td>
      <td>Organizer</td>
      <td>Deposit</td>
      <td>Status</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="event in events">
      <td>{{ event.date }}</td>
      <td>{{ event.start }}</td>
      <td>{{ event.end }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.organizer }}</td>
      <td>{{ event.deposit.toFixed(2) }} EUR</td>
      <td>
        <span class="text-success" ng-if="event.registered"><span class="glyphicon glyphicon-ok"></span> Going</span>
        <span class="text-warning" ng-if="!event.registered"><span class="glyphicon glyphicon-remove"></span> Not going</span>
      </td>
      <td>
        {{ event.saving }}
        <button ng-show="event.registered" class="btn btn-sm btn-warning" type="button" ng-click="calloff(event)" ng-disabled="saving">
          Cancel
        </button>
        <button ng-show="!event.registered" class="btn btn-sm btn-primary" type="button" ng-click="register(event)" ng-disabled="saving">
          Book
        </button>
      </td>
    </tr>
  </tbody>
</table>
