<h3>Register for Events</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Date</td>
      <td>Start</td>
      <td>End</td>
      <td>Name</td>
      <td>Location</td>
      <td>Deposit</td>
      <td>Status</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="event in events">
      <td>{{ event.date }}</td>
      <td>{{ event.start }}</td>
      <td>{{ event.end }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.deposit.toFixed(2) }} EUR</td>
      <td>
        <span ng-if="event.registered" class="glyphicon glyphicon-ok"></span>
        <span ng-if="!event.registered" class="glyphicon glyphicon-remove"></span>
      </td>
      <td>
        <button ng-show="event.registered" class="btn btn-sm btn-danger" type="button" ng-click="calloff(event)">Call Off</button>
        <button ng-show="!event.registered" class="btn btn-sm btn-primary" type="button" ng-click="register(event)">Register</button>
      </td>
    </tr>
  </tbody>
</table>
