<h3>Sign up with your picture and account data</h3>

<div class="col-md-6" ng-show="mode === 'newpicture'">
    <h4>Take New Picture</h4>
    <ng-webcam config="vm.config"
    on-error="vm.onError(err)"
    on-load="vm.onLoad()"
    on-live="vm.onLive()"
    on-capture-complete="vm.onCaptureComplete(src)"></ng-webcam>
    <button class="btn btn-default" type="button" ng-click="cancelNewPicture()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-hide="!vm.captureButtonEnable" ng-click="vm.capture()">3-2-1 Shoot!</button>
</div>
<div class="col-md-6" ng-show="mode === 'currentpicture'">
    <h4>Your Picture</h4>
    <div ng-if="picture === undefined" class="alert alert-warning">
        <p>You do not yet have a picture!</p>
        <p>Please make sure to enable your camera and click on "Take Picture"</p>
    </div>
    <img ng-show="picture !== undefined" ng-src="{{picture}}">
    <button class="btn btn-primary" type="button" ng-click="takeNewPicture()">Take Picture</button>
</div>

<div class="col-md-6">
    <h4>Your Data</h4>
    <form>
        <div class="form-group">
            <label for="userid">User Id</label>
            <input type="text" class="form-control" id="userid" name="userid" ng-model="userid">
        </div>
        <div class="form-group">
            <label for="accountid">Postbank Account Number</label>
            <input type="text" class="form-control" id="accountid" name="accountid" ng-model="accountid">
        </div>
    </form>
</div>
</div>
