<h3>Sign up with your name and picture</h3>
{{ signupstatus }}
<div class="alert alert-success" ng-if="signupstatus === 'success'">
<p>You successfully signed up! <a href="#/register" class="alert-link">Register for Events</a> now.</p>
</div>
<div class="col-md-6" ng-show="mode === 'newpicture'">
    <h4>Take New Picture</h4>
    <ng-webcam config="vm.config"
    on-error="vm.onError(err)"
    on-load="vm.onLoad()"
    on-live="vm.onLive()"
    on-capture-complete="vm.onCaptureComplete(src)"></ng-webcam>
    <button class="btn btn-default" type="button" ng-click="cancelNewPicture()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-hide="!vm.captureButtonEnable" ng-click="vm.capture()">Shoot</button>
</div>
<div class="col-md-12" ng-show="mode === 'currentpicture'">
  <form name="signupform">
    <div class="form-group">
      <label for="userid">User Name</label>
      <input type="text" class="form-control" id="userid" name="userid" ng-model="userid" required maxlength="100">
    </div>
    <div ng-if="picture === undefined" class="alert alert-warning">
      <p>You do not yet have a picture!</p>
      <p>Please make sure to enable your camera and click on "Take Picture"</p>
    </div>
    <img ng-show="picture !== undefined" ng-src="{{picture}}">
    <p></p>
    <button class="btn btn-primary" type="button" ng-click="takeNewPicture()" ng-if="picture === undefined">Take Picture</button>
    <button class="btn btn-primary" type="submit" ng-click="signUp()" ng-hide="picture === undefined || signupform.$invalid || saving">
      SignUp
    </button>
  </form>
</div>

<div class="col-md-6">
</div>
</div>
